.presented-room-row .roomname-icon> p {
	font-size: 20px;
	margin: 0px;
}

.roomname-icon {
	margin-top: 5px;
	border-bottom: 2px solid darkred;
	background-color: white;
	padding: 2px;
	margin: 2px;
}

.presented-room-row {
	background-color: white;
	border: 2px solid darkred;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
}

.menu-item {
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.signup_box, .login_box {
	display: inline-block;
	background-color: white;
	margin-left: auto;
    margin-right: auto; 
	border: 2px solid darkred;
	border-radius: 10px;
	padding: 10px;
	z-index: 100;
}

.formular {
    text-align: center;
	height: 100%;
	width: 100%;
	background-color:rgba(122,122,122,0.5);	
	padding: 10px;
	position: absolute;
}

.menu {
	background-color: white;
  	left: -285px;  /* start off behind the scenes */
  	height: 100%;
  	position: fixed;
  	width: 285px;
  	z-index:3;
  	padding-left: 20px;
}

.menu-container {
	padding-bottom: 20px;
}

.menu-container ul {
	padding-bottom: 20px;
}

#room-number, #room-to-room, #room-free, #room-information {
	background-color: white;
	border: 2px solid darkred;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	z-index: 100;
}

#search ul div {
	border: 2px solid black;
	margin: 5px;
	padding: 5px;	
}

#information, #search {
	margin: 10px;
	position: relative;
	left:1%;
	top:1%;
	z-index: 2;
}
#user {
	margin: 10px;
	position: relative;
	right:1%;
	top:1%;
	z-index: 2;
}

.pre-scrollable{
	max-height:100%
}

#canvas { 
	margin:1em auto;
	border:1px solid black; 
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
}
#nocanvas { 
	margin:1em auto;
	border:1px solid black; 
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
}